/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ====================================
      header
==================================== */
.main_container {
  transition: all 0.4ms;
  padding-top: 10px;
  background-color: white;
  border-bottom: 2px solid gray;
}
.header_container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
  /* border: 1px solid green; */
  vertical-align: middle;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* background-color: ; */
}
.header_sub_container {
  display: flex;
  justify-content: space-between;
}
.image_container {
  width: 40px;
  height: 40px;
  object-fit: cover;
  padding: 5px;
}
img {
  width: 100%;
  height: 100%;
  font-size: 0;
}
.search_bar {
  padding-left: 20px;
  width: 16rem;
  height: 1.6rem;
  border: 1px solid #d3cfcf;
  margin-top: 8px;
  margin-left: 6px;
  border-radius: 3px;
}
.nav_menu {
  margin-left: 30px;
  margin-top: 18px;
}
.nav_menu span {
  padding: 5px;
  font-size: 1rem;
  color: #9e9696;
}
.btn {
  font-weight: bold;
  font-size: 12px;
  border-radius: 3px;
  padding: 8px 12px;
  outline: none;
  border: none;
  margin: 3px;
  background-color: white;
  border: 1px solid #d3cfcf;
  word-break: 1.2;
}
.login:hover {
  background-color: lightgray;
}
.Signup {
  background-color: #cc4d29;
  color: white;
  border: none;
}
.Signup:hover {
  color: #111111;
}

/* ====================================
      listing product
==================================== */
.list_big_container {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 100%;
  margin: 100px 0 0 100px;
  /* border: 2px solid green; */
}
.today_heading {
  display: flex;
  justify-content: space-between;
  justify-items: baseline;
  vertical-align: bottom;
}
.today {
  color: #111111;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.popular_new {
  font-size: 10px;
}
.container {
  /* border-radius: 2px solid black; */

  border-radius: 8px;
  background-color: white;
}

.list_container {
  display: flex;
  justify-content: space-between;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-bottom: 0.5px solid rgb(172, 172, 172);
  padding: 10px;
}
.list_container:hover {
  background-color: rgb(250, 250, 250);
}
.product_container {
  display: flex;
}
.img_prodect {
  width: 75px;
  height: 75px;
  margin: 10px;
}
.product_details {
  padding: 10px;
}
.product_details h4 {
  font-weight: bold;
  color: #111111;
  padding: 5px 0;
}

.product_details p {
  /* font-weight: bold; */
  color: #818181;
  padding: 5px 0;
}
.tags {
  border: none;
  /* font-weight: 300; */
  font-size: 10px;
  color: #818181;
}
.popular_container {
  width: 60px;
  display: flex;
  flex-direction: column;
  /* color: #818181; */
  justify-content: center;
  align-items: center;
  height: 80px;
  border: 1px solid #d3cfcf;
  font-size: 15px;
  font-weight: bold;
  margin-right: 8px;
}

/* ====================================
      side user bar
==================================== */
.sidebar_maincontainer {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* border: 2px solid green; */
  margin-top: 50px;
  margin-left: 150px;
  width: 320px;
}
.profile_container {
  /* display: flex; */
  /* border: 1px solid gray; */
  background-color: white;
  border-radius: 8px;
  /* margin: 10px; */
  padding: 15px 10px;
  margin-bottom: 25px;
}

.img_container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  flex-wrap: wrap;
  padding-bottom: 15px;
  border-bottom: 0.5px solid gray;
}
.profile_img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  padding: 3px;
}

.work_now {
  color: #cc4d29;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
  font-size: 10px;
}

.sponsered_details {
  display: flex;
  background-color: white;
  border-radius: 5px;
  /* padding: 5px; */
}
.sponsered_text {
  font-weight: bold;
  align-self: center;
  font-size: 12px;
  padding: 10px;
  width: 70%;
}
.sponsered_image {
  width: 30%;
}

/* newsletter_container */
.newsletter_container {
  background-color: white;
  margin: 30px 0;
  border-radius: 7px;
}
.newsletter_img {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  height: 150px;
}
.remote_teams {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  padding: 25px 10px;
  border-bottom: 0.5px solid lightgray;
}
.subscribe_container {
  padding: 25px;
}

.subscribe_des {
  font-size: 15px;
}
.subscribe_email {
  /* width: 100%; */
  margin: 10px 0;
}
.subscribe {
  width: 100%;
}
